.breadcrumb {
  margin-top: 4%;
  margin-bottom: 0;
}

.spaceAround {
  margin-left: 5px;
  margin-right: 5px;
}

.directory {
  /*background: rgb(239, 240, 207);*/
  /*border: 1px solid;*/
  /*padding: 10px;*/
  white-space: nowrap;
  color: #555555;
}

.bookCover {
  margin-top: 25px;
}

.file {
  border-top: 1px dotted;
  border-color: gray;
  padding-bottom: 20px;

}

.itemToolbar {
  display: flex;
  flex-wrap: nowrap;
}

.itemToolbarPartLeft {
  flex-grow: 1;
  justify-content: flex-start;

  display: flex;
  flex-direction: row
}

.itemToolbarPartRight {
  flex-grow: 1;
  justify-content: flex-end;

  display: flex;
  flex-direction: row
}

#directories {
  // todo - autoprefixer
  margin: 20px 100px;
  -webkit-columns: 4 150px;
  -moz-columns: 4 150px;
  columns: 4 150px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
  font-size: 12px;

}

// inline form in chooseDbModal
//#chooseDbModalInlineForm {
//  display: flex;
//  width: 100%;
//}

//.chooseDbModalInlineFormItem {
//  flex-grow: 1;
//}

#chooseDbModalUrl {
  //flex-grow: 10;
  width: 400px;
}